.a{
    width: 100px;
}
.b{
    margin-left: 600px;
}
.c{
    margin-left: 20px;
}
.e{
margin-top: 70px;
}
.f{
    margin-top: 70px;
}
.de{
    text-align: center;
    
    
}
.no{
    margin-top: 30px;
}
.en{
    margin-top: 50px;
}
.yes{
    margin-top: 30px;
    margin-left: 35px;
    width: 100px;
   
    
}
.ok{
    box-shadow: 5px 5px 5px 5px rgb(167, 164, 164) ;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 0px 20px 0px 20px; 
    
}
.or{
    text-align: center;
    margin-top: 10px;
    
}
.opp{
    width: 500px;
    
}
.okk{
    width: 180px;
    height: 200px;
    box-shadow: 5px 5px 5px 5px rgb(167, 164, 164) ;
    border-radius: 0px 20px 0px 20px;
    
}
.oro{
    
    text-align: center;
}
.its{
    margin-top: 60px;
}
.bba{
    padding-top: 150px;
}
.lili{

width: 30px;
padding: 40px;
}
.mimi{margin: 10px;}